{{!-- QuestWorlds NPC Sheet --}}
<form class="questworlds npc sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="NPC Name" />
      </h1>
      <div class="form-group">
        <label>{{localize "QUESTWORLDS.NpcType"}}</label>
        <select name="system.npcType">
          <option value="independent" {{#if (qwEq system.npcType "independent")}}selected{{/if}}>Independent</option>
          <option value="master"      {{#if (qwEq system.npcType "master")}}selected{{/if}}>Master</option>
          <option value="minion"      {{#if (qwEq system.npcType "minion")}}selected{{/if}}>Minion</option>
        </select>
      </div>
    </div>
  </header>

  <section class="sheet-body npc-body">
    <div class="resistance-block">
      <label>{{localize "QUESTWORLDS.ResistanceRating"}}</label>
      <input type="number" name="system.resistanceRating" value="{{system.resistanceRating}}" min="1" />
      <span class="resistance-notation">{{qwRating system.resistanceRating}}</span>
      <input type="text" name="system.resistanceLabel" value="{{system.resistanceLabel}}" placeholder="Moderate" />
    </div>

    <div class="npc-abilities">
      <div class="abilities-toolbar flexrow">
        <h3>{{localize "QUESTWORLDS.Abilities"}}</h3>
        <a class="item-create" data-type="ability"><i class="fas fa-plus"></i></a>
      </div>
      {{#each items as |item|}}
        {{#if (qwEq item.type "ability")}}
          <div class="ability-row flexrow" data-item-id="{{item.id}}">
            <span class="ability-name">{{item.name}}</span>
            <span class="ability-rating">{{qwRating item.system.rating}}</span>
            <div class="item-controls flexrow">
              <a class="item-edit" data-item-id="{{item.id}}"><i class="fas fa-edit"></i></a>
              <a class="item-delete" data-item-id="{{item.id}}"><i class="fas fa-trash"></i></a>
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>

    <div class="npc-notes">
      {{editor system.notes target="system.notes" button=true editable=isOwner}}
    </div>
  </section>
</form>
