{{!--
  Partial: benefit-list.hbs
  Expected context: benefits, owner, actor
--}}
<section class="benefits-section">
  <div class="section-header flexrow">
    <h3 class="section-title">
      <i class="fas fa-star"></i>
      {{localize "QUESTWORLDS.Benefits"}}
    </h3>
    {{#if owner}}
      <a data-action="itemCreate" data-type="benefit" title="Add Benefit">
        <i class="fas fa-plus"></i>
      </a>
    {{/if}}
  </div>

  {{#if benefits.length}}
    <ul class="benefit-list items-list">
      {{#each benefits as |ben|}}
        <li class="benefit-item item flexrow benefit-type-{{ben.system.benefitType}}"
            data-item-id="{{ben.id}}">

          <span class="benefit-type-icon">
            {{#if (eq ben.system.benefitType "fresh-hero")}}<i class="fas fa-shield-alt"></i>{{/if}}
            {{#if (eq ben.system.benefitType "victory")}}<i class="fas fa-trophy"></i>{{/if}}
            {{#if (eq ben.system.benefitType "augment")}}<i class="fas fa-arrow-up"></i>{{/if}}
            {{#if (eq ben.system.benefitType "story")}}<i class="fas fa-book-open"></i>{{/if}}
            {{#if (eq ben.system.benefitType "other")}}<i class="fas fa-star"></i>{{/if}}
          </span>

          <span class="benefit-name item-name">{{ben.name}}</span>

          <span class="benefit-bonus tag tag--bonus" title="{{localize 'QUESTWORLDS.Bonus'}}">
            +{{ben.system.bonus}}
          </span>

          {{#if ben.system.expiresOn}}
            <span class="benefit-expires" title="{{localize 'QUESTWORLDS.ExpiresOn'}}">
              <i class="fas fa-hourglass-half"></i> {{ben.system.expiresOn}}
            </span>
          {{/if}}

          {{#if owner}}
            <div class="item-controls">
              <a data-action="itemEdit" data-item-id="{{ben.id}}" title="{{localize 'QUESTWORLDS.Edit'}}">
                <i class="fas fa-edit"></i>
              </a>
              <a data-action="itemDelete" data-item-id="{{ben.id}}" title="{{localize 'QUESTWORLDS.Delete'}}">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          {{/if}}
        </li>
      {{/each}}
    </ul>

    <div class="benefit-total flexrow">
      <span class="benefit-total-label">{{localize "QUESTWORLDS.BonusTotal"}}</span>
      <span class="benefit-total-value tag tag--bonus">+{{actor.system.bonusTotal}}</span>
    </div>

  {{else}}
    <p class="empty-list">{{localize "QUESTWORLDS.EmptyBenefits"}}</p>
  {{/if}}
</section>
