{{!--
  Partial: story-points.hbs
  Expected context: system.storyPoints, owner, isGM
--}}
<div class="story-points flexrow">
  <label class="sp-label">{{localize "QUESTWORLDS.StoryPoints"}}</label>
  <div class="sp-pips">
    {{#each (qwRange system.storyPoints.max) as |pip|}}
      <span
        class="sp-pip {{#if (qwEq pip ../system.storyPoints.value)}}active{{/if}}"
        data-action="storyPointClick"
        data-value="{{pip}}"
      >◆</span>
    {{/each}}
  </div>
  <span class="sp-count">{{system.storyPoints.value}} / {{system.storyPoints.max}}</span>
  {{#if isGM}}
    <input
      class="sp-max-input"
      type="number"
      name="system.storyPoints.max"
      value="{{system.storyPoints.max}}"
      min="0"
      title="Max Story Points"
    />
  {{/if}}
</div>
