<nav class="sheet-tabs tabs" data-group="primary">
  <a class="item {{tabs.abilities.cssClass}}" data-tab="abilities">{{localize "QUESTWORLDS.TabAbilities"}}</a>
  <a class="item {{tabs.flaws.cssClass}}"     data-tab="flaws">{{localize "QUESTWORLDS.TabFlaws"}}</a>
  <a class="item {{tabs.effects.cssClass}}"   data-tab="effects">{{localize "QUESTWORLDS.TabEffects"}}</a>
  <a class="item {{tabs.notes.cssClass}}"     data-tab="notes">{{localize "QUESTWORLDS.TabNotes"}}</a>
</nav>
