<section class="questworlds-seed-content">
  <h1>{{localize "QUESTWORLDS.SeedMenu.Name"}}</h1>
  <p>{{localize "QUESTWORLDS.SeedMenu.Hint"}}</p>

  <div class="form-group">
    <button type="button" class="questworlds-button" data-action="create-samples">
      {{localize "QUESTWORLDS.Seed.CreateSampleCharacters"}}
    </button>
    <button type="button" class="questworlds-button" data-action="create-template">
      {{localize "QUESTWORLDS.Seed.CreateBlankTemplate"}}
    </button>
  </div>

  <div class="form-group">
    <button type="button" class="questworlds-button" data-action="create-help">
      {{localize "QUESTWORLDS.Seed.CreateHelpJournal"}}
    </button>
    <button type="button" class="questworlds-button" data-action="create-macros">
      {{localize "QUESTWORLDS.Seed.CreateMacros"}}
    </button>
  </div>

  <p class="help-text">{{localize "QUESTWORLDS.Seed.SeedNote"}}</p>
</section>
